* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.head-container {
  box-shadow: 1px 3px 10px rgb(0, 0, 0);
  position: relative;
  width: 100%;
  height: 40vh;
  background-image: url(/assets/pattern.jfif);
}

h1 {
  position: absolute;
  top: 8rem;
  left: 3rem;
  color: rgb(255, 255, 255);
  font-size: 3rem;
}
.list ul {
  margin-top: 30px;
  margin-bottom: 100px;
}
.list ul li {
  font-size: 1.2rem;
  margin: 10px 0;
  margin-left: 80px;
}
.sub-heading {
  margin-left: 4rem;
  font-weight: bold;
}
.fa-angle-right {
  position: relative;
  top: 22px;
  left: 50px;
}
@media (max-width: 745px) {
  .list {
    /* align-items: center; */
  }
  .list ul li {
    /* text-align: center; */
    /* margin: 10px 0 0 30px; */
  }
}
@media (max-width: 602px) {
  h1 {
    font-size: 40px;
  }
  .list {
    margin-left: 0;
  }
}
@media (max-width: 589px) {
  h1 {
    font-size: 35px;
  }
  .list {
    margin: 20px 0 0 -45px;
  }
}
@media (max-width: 440px) {
  h1 {
    top: 7rem;
  }
}
