@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #eff5f8;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #5e6c77;
}

main {
  flex: 1;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

/* title  */
.pageHeading {
  text-align: center;
}
.pageHeading {
  color: #091841;
  font-weight: 600;
  font-size: 36px;
  margin-top: 30px;
}
/* form wrapper  */
.lead__form__wrapper {
  padding: 20px;
  margin: 30px 10% 50px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 0 30px rgba(184, 210, 230, 0.3);
}
/* back padding  */
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone {
  padding: 15px;
}
.dropzone,
.dropzone * {
  box-sizing: border-box;
}
/* form layout  */
.form__grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* form row */
.form__row {
  display: flex;
  margin: 10px 0;
  width: 100%;
  justify-content: space-between;
}
/* form columns */
.form__col--1_2 {
  width: calc(50% - 10px);
}
/* form fieldset */
.form__area {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form__area__title {
  color: #2b4458;
  opacity: 0.7;
  margin-bottom: 5px;
  font-size: 1.6rem;
  text-align: left;
}
/* input */
.form__area__field--required input {
  padding-right: 100px;
}
.form__input,
.form__textarea {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #d3e2ee;
  padding: 12px 20px;
  padding-right: 20px;
  background: #fff;
  color: #091841;
  font-weight: 700;
  font-size: 13px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
/* input  txt*/
.form__area__field {
  position: relative;
}

.form__area__field::before {
  content: "required";
  position: absolute;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1em;
  color: #7e8d99;
  letter-spacing: 2px;
  border-radius: 0 6px 6px 0;
  right: 10px;
  top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__area__field--required::before {
  content: "required";
}
.form__area__field::after {
  position: absolute;
  content: "";
  display: block;
}
/* input color  */
.form__input::placeholder,
.form__textarea::placeholder {
  color: rgba(9, 24, 65, 0.2);
}
.dropzone .dz-message {
  text-align: center;
  padding: 2em 0;
  border: 2px dashed #d3e2ee;
  font-size: 16px;
  color: #2b4458;
  background: 0 0;
  border-radius: 5px;
}

.form__submit__wrapper {
  text-align: center;
  margin-top: 20px;
}
.form__submit {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  background: #091841;
  color: #fff;
  padding: 15px 40px;
  border-radius: 5px;
  opacity: 0.9;
  text-decoration: none;
}
.form__submit:hover {
  cursor: pointer;
  opacity: 1;
}
/* Media Queries/ put in separate css file  */

@media (min-width: 992px) {
  .lead__subtitle {
    font-size: 22px;
  }

  .lead__form__wrapper {
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 30px rgba(184, 210, 230, 0.3);
  }
  .lead__form__wrapper--success {
    text-align: center;
    background: 0 0;
    box-shadow: none;
  }
  .lead__form__wrapper--success h3 {
    color: #091841;
    margin-bottom: 20px;
  }
  .lead__form__wrapper--success a {
    text-decoration: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .lead__form__wrapper {
    padding: 15px;
    margin: 20px 5% 50px;
  }
  .container {
    max-width: 580px;
  }
  .form__col--1_2 {
    width: calc(102% - 10px);
  }
  .form__row {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .lead__form__wrapper {
    padding: 20px;
    margin: 30px 10% 50px;
  }
}
@media (min-width: 992px) {
  .lead__form__wrapper {
    padding: 20px;
    margin: 30px 15% 50px;
  }
}
@media (max-width: 479px) {
  .lead__form__outer {
    padding: 20px 0;
  }
}
.form__success {
  padding: 20px;
  text-align: center;
}
.form__success p {
  margin-bottom: 20px;
  font-size: 20px;
}
.form__success a {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.form__success__header {
  font-weight: 700;
  text-align: center;
  color: #091841;
}
@media (max-width: 479px) {
  .container {
    width: 500px;
  }
  .form__success__header {
    font-size: 18px;
  }
  .form__area {
    width: 310px;
  }
  .form__row {
    flex-direction: column;
    margin: 0 auto;
  }
  .form__col--1_2 {
    width: calc(50% - 10px);
  }
  .form__textarea {
    width: 100%;
    padding-right: 112px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 750px;
    padding: 0 2rem;
  }
  .form__success__header {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form__success__header {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .form__success__header {
    font-size: 28px;
  }
}
